[user]
    name = Aleksandr Piatkin
    useconfigonly = true
    signingkey = 372CE806A036164F
    email = 4273812+aspyatkin@users.noreply.github.com
[color]
    ui = auto
[push]
    default = current
    autoSetupRemote = true
[core]
    autocrlf = input
    editor = vim
    trustctime = false
    filemode = true
    symlinks = true
    pager = diff-so-fancy | less --tabs=4 -RF
    compression = 9
[commit]
    gpgsign = true
[pull]
    rebase = true
[alias]
    st = status -sb
    lg = log --oneline --decorate --all --graph
    co = checkout
    cm = commit
    br = branch
    dc = diff --cached
    a = add
    aa = add --all
    p = push
    pt = push --tags
    t = tag
[merge]
    ff = no
    tool = vimdiff
    conflictstyle = diff3
[mergetool]
    prompt = false
[rebase]
    autostash = true
[init]
    defaultBranch = master
[branch]
    sort = -committerdate
[tag]
    sort = -version:refname
[column]
    ui = auto
[interactive]
    diffFilter = diff-so-fancy --patch
[diff]
    algorithm = histogram
[maintenance]
    auto = true
    strategy = incremental
[rerere]
    enabled = true
    autoUpdate = true

